<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>firstPro</display-name>
	<welcome-file-list>

		<welcome-file>index.jsp</welcome-file>

	</welcome-file-list>



	<servlet>
		<servlet-name>loginServet</servlet-name>
		<servlet-class>com.neo.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServet</servlet-name>
		<url-pattern>/loginUrlPages</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>saveEmp</servlet-name>
		<servlet-class>com.neo.controller.EmployeeServnet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>saveEmp</servlet-name>
		<url-pattern>/saveEmpUrl</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>empServletAction</servlet-name>
		<servlet-class>com.neo.controller.EmployeeServnet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>empServletAction</servlet-name>
		<url-pattern>/empUrl</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>editempServletAction</servlet-name>
		<servlet-class>com.neo.controller.UpdateEmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>

		<servlet-name>editempServletAction</servlet-name>
		<url-pattern>/editEmpUrl</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>f1</filter-name>
		<filter-class>com.neo.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>

		<filter-name>f1</filter-name>
		<url-pattern>/loginUrlPages</url-pattern>

	</filter-mapping>



</web-app>
